<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Welcome to my webpage, this is currently being used to generate a random image from a set of images contained within
    a directory. It returns the image as an img tag</p>
<a href="/api">Here's a link to just see a random image of whatever is in the img direcctory</a><br/>
<a href="/api/JSON">Here's a link to a JSON output of a random image's url so you can use it in another api or get it as
    a HTTP GET request</a>
</body>
</html>