<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<body>
<div class="container">
    <div class="card">
        <div class="card-content center-align">
            <h2 class="orange-text">Welcome!</h2>
            <p class="plain">Welcome to the random image API. Click the button on the left to get to the web interface. Click the button on the right to get the url for the JSON output, which gives a link to a random image within the database</p>
            <a href="/api"><button class="btn cyan">Web interface</button></a>
            <a href="api/JSON"><button class="btn cyan">Link to JSON output</button></a>
        </div>
    </div>
</div>

</body>
</html>
